lua_package_path "/var/lib/luna/modules/?.lua;;";

server {
  listen 80 default_server;

  client_max_body_size 5m;
  client_body_buffer_size 5m;

  add_header 'Access-Control-Allow-Origin' 'http://127.0.0.1:8181' always;
  add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
  add_header Access-Control-Allow-Headers Content-Type;
  add_header Access-Control-Allow-Credentials true always;

  location / {
    content_by_lua_file /usr/local/share/lua/5.1/luna.lua;
  }
}
